html,
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background: rgb(227, 226, 252);
  background: linear-gradient(
    90deg,
    rgba(227, 226, 252, 1) 0%,
    rgba(242, 242, 242, 1) 53%,
    rgba(227, 226, 252, 1) 100%
  );
}

body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

.MuiButton-root {
  background: rgb(227, 226, 252);
  background: linear-gradient(
    90deg,
    rgba(227, 226, 252, 1) 0%,
    rgba(41, 68, 251, 1) 0%,
    rgba(160, 156, 255, 1) 100%
  );
}
