.headerContainer {
  width: 100%;
}

.topContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.topContainer > * {
  margin: 10px;
}

.logoContainer {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
}
