.modalContainer {
  width: 450px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 3px;
  text-align: center;
}

.title {
  width: 400px;
}

.checkboxGroupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
